@font-face {
  font-family: "Source Sans Pro";
  src:
  url('../fonts/source_sans_pro/sourcesp.woff2')format('woff2'),
  url('../fonts/source_sans_pro/sourcesp.woff')format('woff'),
  url('../fonts/source_sans_pro/sourcesp.tff')format('tff');
}

@font-face {
  font-family: "Raleway";
  src:
  url('../fonts/raleway/sourcesp.woff2')format('woff2'),
  url('../fonts/raleway/sourcesp.woff')format('woff'),
  url('../fonts/raleway/sourcesp.tff')format('tff');
}

/*Universal styles---------------------------------------------*/

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

/*Header styles---------------------------------------------*/

#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#header .logo {
  display: flex;
  align-items: center;
  height: 32px;
}

#header .nav {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

#header .nav ul li{
  display: inline;
  margin-left: 1rem;
}

#header #colmar {
  color: #201d26;
}
